<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kanghwang.khholdings.domain.carbon.CarbonRepository">

    <select id="selectTokenIdByWalletId" resultType="HoldingRequestDTO">
        SELECT
            token_id
        FROM
            holdings
        where
            wallet_id = #{walletId}
    </select>

</mapper>