<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kanghwang.khholdings.domain.market.MarketRepository">

    <select id="selectAll" resultType="TokenListDTO">
        WITH BaseTime AS (
            SELECT
                CASE
                    WHEN CURRENT_TIME <![CDATA[ < ]]> '09:00:00' THEN CURRENT_DATE - INTERVAL '15 hours' -- 어제 09:00
                    ELSE CURRENT_DATE <![CDATA[ + ]]> INTERVAL '9 hours' -- 오늘 09:00
                END as start_time
        ),
        DailyStats AS (
            SELECT
                token_id,
                SUM(trade_amount) as daily_vol,
                MAX(high_price) as daily_high, -- 오늘 최고가
                MIN(low_price) as daily_low    -- 오늘 최저가
            FROM token_quotes, BaseTime
            WHERE candle_time <![CDATA[ >= ]]> start_time
            GROUP BY token_id
        ),
        OpenPrice AS (
            SELECT DISTINCT ON (token_id)
                token_id, opening_price
            FROM token_quotes q, BaseTime bt
            WHERE q.candle_time <![CDATA[ >= ]]> bt.start_time
            ORDER BY token_id, candle_time ASC
        ),
        LatestPrice AS (
            SELECT DISTINCT ON (token_id)
                token_id, closing_price
            FROM token_quotes
            ORDER BY token_id, candle_time DESC
        )
        SELECT
            t.token_id,
            t.token_name,
            t.ticker_symbol,
            COALESCE(lp.closing_price, t.issue_price) as marketPrice, -- 현재가(종가)
            COALESCE(op.opening_price, lp.closing_price, t.issue_price) as openPrice, -- 시가
            COALESCE(ds.daily_high, lp.closing_price, t.issue_price) as highPrice, -- 고가
            COALESCE(ds.daily_low, lp.closing_price, t.issue_price) as lowPrice, -- 저가
            COALESCE(ds.daily_vol, 0) as "dailyTradeVolume"
        FROM tokens t
        LEFT JOIN DailyStats ds ON t.token_id = ds.token_id
        LEFT JOIN OpenPrice  op ON t.token_id = op.token_id
        LEFT JOIN LatestPrice lp ON t.token_id = lp.token_id
        WHERE t.deleted_at IS null
    </select>

    <select id="selectBySearch" resultType="TokenListDTO">
        WITH minute_stats AS (
            SELECT DISTINCT ON (token_id)
                token_id,
                closing_price AS market_price
            FROM token_quotes
            WHERE unit = 1
            ORDER BY token_id, created_at DESC
        ),
        daily_stats AS (
            SELECT DISTINCT ON (token_id)
                token_id,
                trade_volume AS daily_trade_volume
            FROM token_quotes
            WHERE unit = 1440
            ORDER BY token_id, created_at DESC
        )
        SELECT
            t.token_id AS token_id,
            t.token_name AS token_name,
            t.ticker_symbol AS ticker_symbol,
            COALESCE(ms.market_price, 0) AS market_price,
            COALESCE(ds.daily_trade_volume, 0) AS daily_trade_volume
        FROM tokens t
        LEFT JOIN minute_stats ms ON t.token_id = ms.token_id
        LEFT JOIN daily_stats ds ON t.token_id = ds.token_id
        <where>
            <if test="content != null and content != ''">
                (t.token_name ILIKE CONCAT('%', #{content}, '%')
                OR t.ticker_symbol ILIKE CONCAT('%', #{content}, '%'))
            </if>
        </where>
        ORDER BY ds.daily_trade_volume DESC NULLS LAST
    </select>

    <select id="selectPending" resultType="PendingDTO">
        SELECT
            order_id,
            order_side,
            order_price,
            order_volume,
            remaining_token,
            created_at
        FROM orders
        WHERE wallet_id = #{walletId}
          AND token_id = #{tokenId}
          AND order_type = 'LIMIT'::order_type_enum
          AND remaining_token > 0
          AND order_state IN ('NEW'::order_state_enum, 'PARTIAL'::order_state_enum)
        ORDER BY created_at DESC
    </select>

    <select id="selectLatestTokenPrice">
        SELECT
            closing_price
        FROM
            token_quotes
        WHERE
            token_id = #{tokenId}
        ORDER BY
            created_at DESC
            LIMIT 1
    </select>

    <!-- 차트 조회 -->
    <select id="selectCandles" resultType="CandleDTO">
        SELECT
            token_id,
            (EXTRACT(EPOCH FROM candle_time))::BIGINT AS candleTime,
            opening_price,
            high_price ,
            low_price,
            closing_price,
            trade_volume
        FROM
            token_quotes
        WHERE
            token_id = #{tokenId}
        AND
            unit = 1
        ORDER BY
            candle_time
        LIMIT #{limit}
    </select>
</mapper>
