<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kanghwang.khholdings.domain.order.OrderRepository">

    <select id="selectHoldingTokenBalance" parameterType="Long" resultType="bigdecimal">
        SELECT
            token_balance
        FROM
            holdings
        WHERE
            token_id  = #{tokenId}
        AND
            wallet_id = #{walletId}
    </select>

    <select id="selectAvailableBalance" parameterType="Long" resultType="bigdecimal">
        SELECT
            available_balance
        FROM
            wallets
        WHERE
            wallet_id  = #{walletId}
    </select>

    <update id="callPlaceOrderProcedure" parameterType="OrderRequestDTO" statementType="CALLABLE">
        CALL p_create_order(
            #{orderId},
            #{walletId},
            #{tokenId},
            #{orderSide}::order_side_enum,
            #{orderType}::order_type_enum,
            #{orderPrice},
            #{orderVolume},
            #{totalPrice}
        )
    </update>

    <update id="p_process_transaction_hists" parameterType="TransactionRequestDTO" statementType="CALLABLE">
        CALL p_process_transaction_hists(
                #{txId1},
                #{txId2},
                #{txId3},
                #{txId4},
                #{tradeId},
                #{buyOrderId},
                #{sellOrderId},
                #{targetPrice},
                #{executedVolume},
                #{feeRate}
               )
    </update>

    <update id="p_cancel_order_and_refund" statementType="CALLABLE">
        CALL p_cancel_order_and_refund(
            #{txId},
            #{orderId},
            #{remainingCash},
            #{remainingToken}
        )
    </update>
</mapper>
