<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kanghwang.khholdings.domain.order.OrderRepository">

    <select id="selectHoldingTokenBalance" parameterType="Long" resultType="bigdecimal">
        SELECT
            token_balance
        FROM
            holdings
        WHERE
            token_id  = #{tokenId}
        AND
            wallet_id = #{walletId}
    </select>

    <select id="selectAvailableBalance" parameterType="Long" resultType="bigdecimal">
        SELECT
            available_balance
        FROM
            wallets
        WHERE
            wallet_id  = #{walletId}
    </select>

    <update id="callPlaceOrderProcedure" statementType="CALLABLE">
        CALL p_create_order(
            #{orderId},
            #{dto.walletId},
            #{dto.tokenId},
            #{dto.orderSide}::order_side_enum,
            #{dto.orderType}::order_type_enum,
            #{dto.orderPrice},
            #{dto.orderVolume},
            #{dto.totalPrice}
        )
    </update>

    <update id="p_process_transaction_hists" statementType="CALLABLE">
        CALL p_process_transaction_hists(
                #{p_trade_id, mode=IN, jdbcType=BIGINT},
                #{p_buy_order_id, mode=IN, jdbcType=BIGINT},
                #{p_sell_order_id, mode=IN, jdbcType=BIGINT},
                #{p_exec_price, mode=IN, jdbcType=NUMERIC},
                #{p_exec_volume, mode=IN, jdbcType=NUMERIC},
                #{p_fee_rate, mode=IN, jdbcType=NUMERIC}
               )
    </update>
</mapper>
